NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/smart_attendance
JWT_SECRET=your_super_secret_jwt_key
QR_SECRET=your_super_secret_qr_key
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173,https://your-netlify-site.netlify.app
